{% extends "base.html" %}
{% block content %}

<form action="/register" method="post">
    {% if error %}
    <div class="error-message">
        {{ error }}
    </div>
    {% endif %}
    <h2>Register</h2>
    <input name="name" placeholder="Name" required>
    <input name="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <input name="confirm_password" type="password" placeholder="Confirm Password" required>
    <select name="role" required>
        <option value="" disabled selected hidden>Role</option>
        <option name="role" value="patient">Patient</option>
        <option name="role" value="doctor">Doctor</option>
    </select>
    <button type="submit">Register</button>
</form>


{% endblock %}